<div class="modal fade" id="saveFormModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Nuevo</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

          <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="mb-3">
              <label for="name" class="col-form-label">Nombre:</label>
              <input type="text" class="form-control" id="name" formControlName="name" required>

              <span class="error" *ngIf="this.form.get('name')?.invalid && this.form.get('name')?.touched" >
                El nombre es requerido.
              </span>
            </div>
            <div class="mb-3">
              <label for="lastname" class="col-form-label">Apellido:</label>
              <input type="text" class="form-control" id="lastname" formControlName="lastname" required>

              <span class="error" *ngIf="this.form.get('lastname')?.invalid && this.form.get('lastname')?.touched" >
                El apellido es requerido.
              </span>
            </div>
            <div class="mb-3">
                <label for="phone" class="col-form-label">Teléfono:</label>
                <input type="text" class="form-control" id="phone" formControlName="phone" required>

                <span class="error" *ngIf="this.form.get('phone')?.invalid && this.form.get('phone')?.touched && 
                !this.form.get('phone')?.errors?.['pattern']" >
                  El teléfono es requerido.
                </span>
                <span class="error" *ngIf="this.form.get('phone')?.errors?.['pattern']">
                <!-- <span *ngIf="this.form.get('phone')?.errors.pattern" class="error"> -->
                  El teléfono debe contener 10 dígitos
                </span>
            </div>

            <div class="modal-footer mt-2">
              <span>{{resultado}}</span>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
              <button type="submit" [disabled]="form.invalid" class="btn btn-primary" data-bs-dismiss="modal">Guardar</button>
            </div>
          </form>

        </div>

      </div>
    </div>
  </div>